
/* index.css o main.css */
@import "leaflet/dist/leaflet.css";

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

a {
  color: #0077cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Si no usás botones nativos */
button {
  all: unset;
}


html, body {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto; /* ✅ ahora sí deja que aparezca el scroll horizontal cuando es necesario */
}

/* Mostrar barra de scroll más estilizada si querés */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Esto evita que los inputs o botones se expandan más del contenedor */
table * {
  box-sizing: border-box;
  min-width: 0;
}



