
/* index.css o main.css */
@import "leaflet/dist/leaflet.css";

:root {
  font-family: 'Poppins', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

a {
  color: #0077cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Si no usás botones nativos */
button {
  all: unset;
}
